#!/usr/bin/env bash
set -x
if [[ $UID != 0 ]]; then
    echo "This must be run as root."
    exit 1
fi

/sbin/iptables -t nat -D PREROUTING -i {{ transmission_veth }} -p tcp -j DNAT --to-destination {{ redsocks_ip }}:{{ redsocks_proxy_uk_local }}

{{ netns_scripts_location }}/netns-delete {{ transmission_netns }} {{ transmission_veth }} {{ transmission_netns_space }}
