#!/usr/bin/env bash
set -x
if [[ $UID != 0 ]]; then
    echo "This must be run as root."
    exit 1
fi

NS=$1
VETH=$2
VPEER=$3
NS_SPACE=$4
VETH_ADDR=$5
VPEER_ADDR=$6

ip netns add $NS

ip netns exec $NS ip addr add 127.0.0.1/8 dev lo
ip netns exec $NS ip link set lo up

ip link add ${VETH} type veth peer name ${VPEER}
ip link set ${VETH} up
ip link set ${VPEER} netns $NS up

ip addr add ${VETH_ADDR}/24 dev ${VETH}
ip netns exec $NS ip addr add ${VPEER_ADDR}/24 dev ${VPEER}
ip netns exec $NS ip link set ${VPEER} up
#ip netns exec $NS ip route add default via ${VETH_ADDR} dev ${VPEER}
ip netns exec $NS ip route add default via ${VETH_ADDR}

/sbin/iptables -A INPUT \! -i ${VETH} -s ${NS_SPACE}/24 -j DROP
/sbin/iptables -t nat -A POSTROUTING -s ${VPEER_ADDR}/24 -o eth0 -j MASQUERADE

/sbin/sysctl -q net.ipv4.ip_forward=1

mkdir -p /etc/netns/$NS
echo 'nameserver 8.8.8.8' > /etc/netns/$NS/resolv.conf

# ip netns exec $NS fping -q www.google.com

/sbin/iptables -A FORWARD -i eth0 -o ${VETH} -j ACCEPT
/sbin/iptables -A FORWARD -o eth0 -i ${VETH} -j ACCEPT
