switch.tv:
  emulated_hue: true
  emulated_hue_name: Kodi

switch.lamp:
  emulated_hue: true
  emulated_hue_name: Lamp

switch.motion_record:
  emulated_hue: true
  emulated_hue_name: Camera

media_player.stevie:
  emulated_hue: true
  emulated_hue_name: LG

